{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
    <h1>Create new Invoice</h1>

    {{ include('invoice/_form.html.twig') }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_index') }}" text="Retour à la liste" icon="rotate-left" />
{% endblock %}
