{% extends 'base.html.twig' %}

{% block title %}Edit InvoiceLine{% endblock %}

{% block body %}
    <h1>Edit InvoiceLine</h1>

    {{ include('invoice_line/_form.html.twig', {'button_label': 'Update'}) }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_invoice_line_index') }}" text="Retour à la liste" icon="rotate-left" />

    {{ include('invoice_line/_delete_form.html.twig') }}
{% endblock %}
