{% include 'head.html.twig' %} 
{% block body %}
<section class="bg-gray-500 flex flex-col justify-center items-center">
<h1 class="text-xxl">qsdqsdqsdsqdsqdsqd</h1>
<h2 class="text-xl">Le second test de la maison</h2>
</section>
{% endblock %}
<section>
  <div class="bg-cover bg-center h-auto text-white py-24 px-10 object-fill min-h-screen[500px]" style="background-image: url(https://images.unsplash.com/photo-1667133295308-9ef24f71952e?q=80&w=1957&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      <div class="md:w-1/2">
        <p class="font-bold text-sm uppercase">?</p>
        <p class="text-3xl font-bold mb-10">Accueil</p>
        <a href="#" class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
      </div>  
  </div>
</section>
<section class="flex justify-center">
  {% include 'main_page/cardImg.html.twig' %} 
  {% include 'main_page/cardImg.html.twig' %}
  {% include 'main_page/cardImg.html.twig' %}
</section>
<section>
<div class="bg-red-500 bg-cover bg-center h-auto text-white py-24 px-10 object-fill min-h-screen[500px] flex justify-between" >
       <div class="md:w-1/2">
        <p class="font-bold text-sm uppercase">ENTREPRISE</p>
        <p class="text-3xl font-bold">Multimedia products</p>
        <p class="text-2xl mb-10 leading-none">Atractive designs for your brand</p>
        <a href="#" class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
        </div>
        <div class="flex justify-center text-center">
        <p>le test absolue</p>
        </div>  
    </div>
</section>
<section class="">
<div class="flex justify-between">
<div>
<img src='https://as2.ftcdn.net/v2/jpg/02/64/39/59/1000_F_264395936_2b6Xux9G1axkBix9qE6RlMaalbEuDXl6.jpg' class="object-cover h-48 max-w-[30rem] mb-3 mt-3 ml-3">
</div>

<div>
<p class="text-xl font-bold mr-20 mt-3">Multimedia products</p>
</div>
</div>
</section>

{% include 'footer.html.twig' %}