{{ form_start(form) }}
    {{ form_widget(form) }}
    <form>
    <button class="btn inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 dark:text-white">{{ button_label|default('Sauvegarder') }}</button>
    </form>
{{ form_end(form) }}
