{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

{% block body %}
    <h1 class="text-white">Création d'un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
