{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

{% block body %}
    <h1 class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 dark:text-white">Création d'un nouveau produit</h1>

    {{ include('product/_form.html.twig') }}

    <a class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-red-800 dark:text-white" href="{{ path('app_product_index') }}">back to list</a>
{% endblock %}
