{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Create new Client</h1>

    {{ include('client/_form.html.twig') }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_client_index') }}" text="Retour à la liste" icon="rotate-left" />
{% endblock %}
