{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('contact/_form.html.twig') }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_contact_index') }}" text="Retour à la liste" icon="rotate-left" />
{% endblock %}
