<li>
	<a href="{% if path is defined %} {{ path }} {% elseif active is defined %} {{ path(active) }} {% else %} / {% endif %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group {% if active is defined and active in app.request.get('_route') %} bg-gray-200 dark:bg-gray-600 {% endif %}">
		{% if block("icon") is not empty %}
			<svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 21">
			{% endif %}
			{% block icon %}{% endblock %}
			{% if block("icon") is not empty %}
			</svg>
		{% endif %}
		<span class="ms-3">
			{{ text }}
		</span>
	</a>
</li></li>
