<td class="px-2 py-4 {% if important|default(false) %}font-medium text-gray-900 dark:text-gray-50 whitespace-nowrap{% endif %} {{ class|default() }}">
	{% block content %}
		{#  #}
	{% endblock %}
</td>
