<td class="px-2 py-4 {% if important|default(false) %}font-medium text-gray-900 dark:text-gray-400 whitespace-nowrap{% endif %}
 {% if is_numeric(block('content')) %}text-center{% endif %}
 {{ class|default() }}" {{ attributes }}>
	{% block content %}
		{#  #}
	{% endblock %}
</td>
