{% extends 'base.html.twig' %}

{% block title %}New Estimate{% endblock %}

{% block body %}
    <h1>Create new Estimate</h1>

    {{ include('estimate/_form.html.twig') }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_estimate_index') }}" text="Retour à la liste" icon="rotate-left" />
{% endblock %}
