{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

<twig:Button class="bg-lime-500 dark:bg-lime-600" href="{{ path('app_user_index') }}" text="Retour à la liste" icon="rotate-left" />
{% endblock %}
